.root {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

.card-header {
  text-align: center;
}

.card-body {
  text-align: center;
}

/* static quote card styling */
#static-quote-container {
  margin-top: 10.5vh;
  /* margin-left: -10vw; */
}

/* daily quote card styling */
#daily-quote-container {
  margin-top: 10.5vh;
}

#refreshBtn {
  margin-bottom: 2vh;
}

/* spotify player card styling */
#spotify-player-container {
  margin-top: 2vh;
}

/* twitter button styling */
.twitter {
    border:1px solid rgb(102, 179, 255);
    border-radius: 4px;
    background-color: rgb(102, 179, 255);
    color: white;
    text-align: center;
    font-size: 1.8em;
    width: 60px;
    height: 35px;
    line-height: 40px;
}

.fa-quote-left, .fa-quote-right {
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.quote {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.author {
    margin:10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}