/* general styling */
.root {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: #9fbba2;
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
}

.card-header {
  text-align: center;
  background-color: #d6cb98;
  text-shadow: 0.95px 0.95px #fff;
}

.card-body {
  text-align: center;
}

#header-card {
  margin-top: 2vh;
}

h1 {
  color: #e8d094;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 0.75px 0.75px #000;
}

/* static quote card styling */
#static-quote-container {
  margin-top: 5vh;
}

/* daily quote card styling */
#daily-quote-container {
  margin-top: 5vh;
}

#overlap {
  position: relative;
  text-align: center;
  color: #000;
}

#quote-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#daily-quote-image {
  opacity: 0.5;
  max-height: 490px;
  min-width: 100%;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.quote {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

.author {
  margin: 10px;
  text-align: right;
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
}

#quoteBtn {
  margin-bottom: 3vh;
  margin-top: 3vh;
  background-color: #335a44;
  color: #fff;
}

#quoteBtn:hover {
  background-color: #b1c09f;
  transition: 0.25s;
  color: #000;
}

/* spotify player card styling */
#spotify-player-container {
  margin-top: 3.5vh;
  width: 70%;
  margin-inline: auto;
}

#spotify {
  margin-top: 3.5vh;
  border-radius: 10px;
}

.refreshBtn {
  margin-bottom: 3vh;
  margin-top: 3vh;
  background-color: #335a44;
  color: #fff;
  width: 500px;
}

.refreshBtn:hover {
  background-color: #b1c09f;
  transition: 0.25s;
  color: #000;
}

/* footer styling */
footer {
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 20px;
  }

  .quote {
    font-size: 25px;
  }

  .author {
    font-size: 20px;
  }

  #daily-quote-image {
    max-height: auto;
    max-width: 100%;
  }

  #spotify-player-container {
    width: auto;
  }

  #daily-quote-container {
    width: auto;
  }

  #static-quote-container {
    width: 300px;
    order: 1;
  }
}
